@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    background-color: rgb(143, 143, 234);
}

h1{
    text-align: center;
    padding-bottom: 2vh;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: darkblue 3px 5px;
    color: white;
}

#imgContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 8vw;
    width: 70%;
    margin: auto;
    justify-content: center;
}

.star-icon{
    position: absolute;
    color: gold;
    font-size: 2rem;
    margin-right: 10vw;
}

.minifig-img {
    width: 210px;
    height: 350px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 11px 11px 15px 8px rgba(0, 0, 0, 0.5);  
    cursor: pointer;  
}

.minifig-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorite-button{
    width: 13.5vw;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: rgb(54, 54, 126);
    cursor: pointer;
}

.minifig-container.favorite::before {
    content: "\2605";
    position: absolute;
    top: 5px;
    right: 5px;
    color: gold;
    font-size: 24px;
}

.modal {
    width: 30vw;
    opacity: 0;
    transition: all 0.7s ease;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none;
    border-radius: 16px;
    padding: 0px;
    box-shadow: 0 16px 22px 0 rgba(0, 0, 0, 0.6);
}

.modal[open] {
    opacity: 1;
    transition-delay: 0s;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
    appearance: none;
    color: goldenrod;
    background: none;
    border: 0;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.modal-content h1 {
    margin: 0;
    padding: 20px;
    background-color: rgb(69, 69, 151);
    color: white;
    text-transform: capitalize;
    width: 27.7vw;
}

.modal-content img {
    display: block;
    margin: auto;
}

.modal-content::after {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 100%;
    left: 0;
    top: 0;
}